@import url('http://fonts.googleapis.com/css2?family=barlow:wght@400;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --body: #545d6d;
    --dark: #202631;
    --border-color: rgba(0, 0, 0, 0.10);
    --border-width: 1px;
    --border-radius: 30px;
}

/* reset & helpers */body {
    font-family: "barlow", sans-serif;
    line-height: 1.8;
    color: var(--body);
}